body{
     background-color: black;
    }
img {
  border-radius: 50%;
}
.con{
    display: flex;
    justify-content: space-around;
    margin-right: 10%;
}
h2{
  text-align: center;
    color: red;
}

img:hover{
    width: 300px;
    animation: rotation 4s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }